# Netlify configuration for a Flutter Web App

[build]
  command = "command = "bash netlify/scripts/install_flutter.sh && flutter pub get && flutter build web --web-renderer html""
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200