# Netlify configuration for a Flutter Web App

[build]
  command = "flutter build web --dart-define=FLUTTER_WEB_RENDERER=html"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200