# Netlify configuration for a Flutter Web App

[build]
  command = "bash .netlify/install_flutter_and_build.sh"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200